body{
	background: #EEEEEE;
	padding: 10px 0px 5px 0px;
	font-family: Arial, "MS Trebuchet", sans-serif;
}


#yui3-aquinama-container{
	min-height: 100%;
	width: 1120px;
	margin: 0 auto;
	background-color: #FFF;
	border: 2px solid #DEDEDE;
	position: relative;
	-webkit-border-radius: 8px;
	-moz-border-radius: 8px;
	border-radius: 8px;
}
#yui3-aquinama-head{
	/*color: #ADCE4C;*/
	color: #FC9D49;
	font-family: "Calibri" ,Arial, "MS Trebuchet", sans-serif;
}
#yui3-aquinama-head h1{
	text-align: left;
	font-size: 670%;
	font-weight: bold;
	padding: 10px;
	padding-bottom: 0px;
	margin-bottom: -20px;
}
#yui3-aquinama-social{
	position: absolute;
	top: 13px;
	right: 20px;
}
#yui3-aquinama-social img{	
	width: 40px;
	height: 40px;
	
}
#yui3-aquinama-social li{
	float: left;
	margin-left: 10px;
	opacity: 0.2;
	-moz-opacity: 0.2;
	filter:alpha(opacity=2);
}
#yui3-aquinama-social li:hover{
	float: left;
	margin-left: 10px;
	opacity: 0.4;
	-moz-opacity: 0.4;
}

.yui3-aqunama-green{
	color: #ADCE4C;
}

#yui3-aquinama-right{
	float: right;
	width: 280px;
	padding: 10px;
	padding-right: 0px;
	color: #333;
}

#yui3-aquinama-tools{
	width: 200px;
	float:right;
}

#yui3-aquinama-publicity{
	margin-right: 10px;
	display: none;
}

#yui3-aquinama-left{
	float: left;
	width: 800px;
	padding: 10px;
	text-align: left;
	position: relative;
	min-height: 600px;
}
#yui3-aquinama-category{
	position: absolute;
	top: 50px;
}
#yui3-aquinama-news{
	height: 500px;
	/*width:1024px;*/
	visibility: visible;
}

#yui3-aquinama-news img, #yui3-aquinama-news p{

	position: absolute;
	font-size: 180%;
	color: #999;
}
#yui3-aquinama-news p{
	background-color: white;
}

#yui3-aquinama-all-arrow{
	top: 50px;
	left: 36px;
}

#yui3-aquinama-all-desc{
	top: 120px;
	left: 90px;
}

#yui3-aquinama-advanced-arrow{
	top: 49px;
	left: 675px;
}
#yui3-aquinama-all-advanced{
	top: 134px;
	left: 522px;
}

#yui3-aquinama-interest-arrow{
	top: 73px;
	left: 865px;
}
#yui3-aquinama-all-interest{
	top: 187px;
	left: 786px;
}
#yui3-aquinama-help-arrow{
	top: 182px;
	left: 977px;
}
#yui3-aquinama-all-help{
	top: 317px;
	left: 977px;
}




#yui3-aquinama-footer{
	text-align: center;
	clear: both;
	color: #888;
	padding-left: 10px;
	width: 1120px;
	margin: auto;
}


.yui3-aquinama-button-up, .yui3-aquinama-button-down{
	font-size: 160%;
	font-weight: bold;
	line-height: normal;
	color: #FEFEFE;
	padding: 6px;
	-webkit-border-radius: 10px;
	-moz-border-radius: 10px;
	border-radius: 10px;
	text-align: center;
	margin-left: 10px;
	border: none;
	padding: 7px 15px;
}
.yui3-aquinama-button-up
{
	background-color: #FC9D49;
}
.yui3-aquinama-button-down{
	background-color: #ADCE4C;
}
.yui3-aquinama-button-up:hover
{
	background-color: #ADCE4C;
	cursor: pointer;
}
.yui3-aquinama-button-down:hover{
	/*background-color: #FC9D49;*/
	cursor: pointer;
}

.yui3-aquinama-input-text{	
	font-family: Helvetica, sans-serif;
	line-height: normal;
	border: 2px solid #CCC;
	padding: 6px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
}

.yui3-aquinama-hidden{
	display: none;
}


 #yui3-aquinama-head{
	display: block;
}


.yui3-aquinama-clear{
	clear: both;
}


.yui3-aquinama-news img{
	width: 700px;
	margin-top: 50px;

}

#yui3-aquinama-error{
	font-size: 160%;
	color: #A9A9A9;
	text-align: center;
}

#yui3-aquinama-error p{
	margin-top: 50px;
}

#yui3-aquinama-error a{
	color: #333;
	text-decoration: initial;
}




#yui3-aquinama-tools{
	margin-top: 50px;
}

#yui3-aquinama-tools h1{
	background-color: #E6E6E6;
	padding: 5px;
	color: gray;
	text-align: left;
	font-weight: bold;
	border-radius: 10px 10px 0px 0px;
	-webkit-border-radius: 10px 10px 0px 0px;
	-moz-border-radius: 10px 10px 0px 0px;
	
}



.yui3-aquinama-laster{
	padding: 5px;
	color: #A9A9A9;
	text-align: right;
	font-weight: bold;
	display: inline-block;
	float: right;
	border: 2px solid #E6E6E6;
	margin-bottom: 10px;
	border-right: none;
	font-size: 14px;
	padding-right: 35px;
	padding-left: 15px;
	border-radius: 10px;
	-webkit-border-radius: 10px 0px 0px 10px;
	-moz-border-radius: 10px;

}
.yui3-aquinama-laster:hover{
	cursor: pointer;
	padding-right: 50px;
	/*background-color: #ADCE4C;
	color: #FFF;*/

	border: 2px solid #CCC;
	border-right: none;

	
}


